body {
  background-color: rgb(48, 62, 80);
  margin: auto;
  max-width: 200px;
}
h1 {
  text-align: center;
}
input {
  align-self: center;
}
button:hover {
  background-color: rgb(204, 198, 209);
  box-shadow: 1px 1px 5px 1px rgba(176, 141, 176, 1);
}
